In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('D:/Machine Learning/Handling Categorical features/ordinal encoding/customer.csv')

In [3]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [4]:
# extracting "review","education " to apply ordinal encoding and "purchased" to apply label encoding.
df = df.iloc[:,2:]
df.shape

(50, 3)

In [5]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)
# Spliting data into training and testing.

In [7]:
X_train

     review education
3      Good        PG
17     Poor        UG
32  Average        UG
4   Average        UG
5   Average    School
10     Good        UG
47     Good        PG
25     Good    School
49     Good        UG
0   Average    School
26     Poor        PG
12     Poor    School
33     Good        PG
44  Average        UG
38     Good    School
40     Good    School
41     Good        PG
11     Good        UG
28     Poor    School
46     Poor        PG
31     Poor    School
16     Poor        UG
18     Good    School
19     Poor        PG
20  Average    School
9      Good        UG
23     Good    School
29  Average        UG
36     Good        UG
30  Average        UG
48     Good        UG
6      Good    School
1      Poor        UG
7      Poor    School
37  Average        PG
39     Poor        PG
27     Poor        PG
8   Average        UG
22     Poor        PG
35     Poor    School

In [8]:
from sklearn.preprocessing import OrdinalEncoder

In [9]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [10]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [11]:
# we always transfrom on both train and test data
X_train = oe.transform(X_train)
X_test = oe.transform(X_test)

In [12]:
X_train

array([[2., 2.],
       [0., 1.],
       [1., 1.],
       [1., 1.],
       [1., 0.],
       [2., 1.],
       [2., 2.],
       [2., 0.],
       [2., 1.],
       [1., 0.],
       [0., 2.],
       [0., 0.],
       [2., 2.],
       [1., 1.],
       [2., 0.],
       [2., 0.],
       [2., 2.],
       [2., 1.],
       [0., 0.],
       [0., 2.],
       [0., 0.],
       [0., 1.],
       [2., 0.],
       [0., 2.],
       [1., 0.],
       [2., 1.],
       [2., 0.],
       [1., 1.],
       [2., 1.],
       [1., 1.],
       [2., 1.],
       [2., 0.],
       [0., 1.],
       [0., 0.],
       [1., 2.],
       [0., 2.],
       [0., 2.],
       [1., 1.],
       [0., 2.],
       [0., 0.]])

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
le = LabelEncoder()

In [15]:

le.fit(y_train)

LabelEncoder()

In [16]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [17]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [18]:
y_train

array([0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1])